<section id="content">

      <div class="content-wrap">

        <div class="container clearfix">

          <div class="col_one_third">

            <div class="heading-block fancy-title nobottomborder title-bottom-border">
              <h4>Why choose <span>Us</span>.</h4>
            </div>

            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quasi quidem minus id omnis, nam expedita, ea fuga commodi voluptas iusto, hic autem deleniti dolores explicabo labore enim repellat earum perspiciatis.</p>

          </div>

          <div class="col_one_third">

            <div class="heading-block fancy-title nobottomborder title-bottom-border">
              <h4>Our <span>Mission</span>.</h4>
            </div>

            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quasi quidem minus id omnis, nam expedita, ea fuga commodi voluptas iusto, hic autem deleniti dolores explicabo labore enim repellat earum perspiciatis.</p>

          </div>

          <div class="col_one_third col_last">

            <div class="heading-block fancy-title nobottomborder title-bottom-border">
              <h4>What we <span>Do</span>.</h4>
            </div>

            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quasi quidem minus id omnis, nam expedita, ea fuga commodi voluptas iusto, hic autem deleniti dolores explicabo labore enim repellat earum perspiciatis.</p>

          </div>

        </div>

        <div class="section nomargin">
          <div class="container clearfix">

            <div class="col_one_fourth nobottommargin center" data-animate="bounceIn">
              <i class="i-plain i-xlarge divcenter icon-line2-directions"></i>
              <div class="counter counter-lined"><span data-from="100" data-to="846" data-refresh-interval="50" data-speed="2000"></span>K+</div>
              <h5>Lines of Codes</h5>
            </div>

            <div class="col_one_fourth nobottommargin center" data-animate="bounceIn" data-delay="200">
              <i class="i-plain i-xlarge divcenter nobottommargin icon-line2-graph"></i>
              <div class="counter counter-lined"><span data-from="3000" data-to="15360" data-refresh-interval="100" data-speed="2500"></span>+</div>
              <h5>KBs of HTML Files</h5>
            </div>

            <div class="col_one_fourth nobottommargin center" data-animate="bounceIn" data-delay="400">
              <i class="i-plain i-xlarge divcenter nobottommargin icon-line2-layers"></i>
              <div class="counter counter-lined"><span data-from="10" data-to="408" data-refresh-interval="25" data-speed="3500"></span>*</div>
              <h5>No. of Templates</h5>
            </div>

            <div class="col_one_fourth nobottommargin center col_last" data-animate="bounceIn" data-delay="600">
              <i class="i-plain i-xlarge divcenter nobottommargin icon-line2-clock"></i>
              <div class="counter counter-lined"><span data-from="60" data-to="1200" data-refresh-interval="30" data-speed="2700"></span>+</div>
              <h5>Hours of Coding</h5>
            </div>

          </div>
        </div>

        <div class="row justify-content-center">
            <div class="col-xs-12 col-sm-6 col-md-4">
                <div class="image-flip" ontouchstart="this.classList.toggle('hover');">
                    <div class="mainflip">
                        <div class="frontside">
                            <div class="card">
                                <div class="card-body text-center">
                                    <p>
                                    <%= image_tag("team/nikita.jpg", alt: "Profile picture", class: "img-fluid") %></p>
                                    <h4 class="card-title">Nikita Vasilev</h4>
                                    <p class="card-text">CTO & Full Stack Developer</p>
                                    <a href="#" class="btn btn-primary btn-sm">More</a>
                                </div>
                            </div>
                        </div>
                        <div class="backside">
                            <div class="card">
                                <div class="card-body text-center mt-4">
                                    <h4 class="card-title">CTO & Full Stack Developer</h4>
                                    <p class="card-text">Nikita Vasilev is the Chief Technical Officer and a full stack developer, specialist of Ruby on Rails framework, Javascript and back-end management.</p>
                                    <ul class="list-inline">
                                      <li class="list-inline-item">
                                        <a class="social-icons text-xs-center" target="blank" href="https://www.linkedin.com/in/nikita-vasilev-2b0112111/"><i class="fab fa-linkedin"></i></a>
                                      </li>
                                      <li class="list-inline-item">
                                        <a class="social-icons text-xs-center" target="blank" href="https://github.com/nikitavasilev"><i class="fab fa-github"></i></a>
                                      </li>
                                      <li class="list-inline-item">
                                        <a class="social-icons text-xs-center" target="blank" href="https://www.facebook.com/nikita.vassilev?ref=br_rs"><i class="fab fa-facebook"></i></a>
                                      </li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-xs-12 col-sm-6 col-md-4">
                <div class="image-flip" ontouchstart="this.classList.toggle('hover');">
                    <div class="mainflip">
                        <div class="frontside">
                            <div class="card">
                                <div class="card-body text-center">
                                    <p>
                                    <%= image_tag("team/ysa.jpg", alt: "Profile picture", class: "img-fluid") %></p>
                                    <h4 class="card-title">Ysaline Macé</h4>
                                    <p class="card-text">Back-end Developer & Journalist</p>
                                    <a href="#" class="btn btn-primary btn-sm">More</a>
                                </div>
                            </div>
                        </div>
                        <div class="backside">
                            <div class="card">
                                <div class="card-body text-center mt-4">
                                    <h4 class="card-title">Back-end Developer & Journalist</h4>
                                    <p class="card-text">Ysaline Macé is a Back-end Developer and also a famous young journalist.</p>
                                    <ul class="list-inline">
                                      <li class="list-inline-item">
                                        <a class="social-icons text-xs-center" target="blank" href="https://github.com/Ysalien"><i class="fab fa-github"></i></a>
                                      </li>
                                      <li class="list-inline-item">
                                        <a class="social-icons text-xs-center" target="blank" href="https://www.facebook.com/ysaline.wizzy"><i class="fab fa-facebook"></i></a>
                                      </li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-xs-12 col-sm-6 col-md-4">
                <div class="image-flip" ontouchstart="this.classList.toggle('hover');">
                    <div class="mainflip">
                        <div class="frontside">
                            <div class="card">
                                <div class="card-body text-center">
                                    <p>
                                    <%= image_tag("team/arthur.jpg", alt: "Profile picture", class: "img-fluid") %></p>
                                    <h4 class="card-title">Arthur Mansuy</h4>
                                    <p class="card-text">Full Stack Developer & IT Security Officer</p>
                                    <a href="#" class="btn btn-primary btn-sm">More</a>
                                </div>
                            </div>
                        </div>
                        <div class="backside">
                            <div class="card">
                                <div class="card-body text-center mt-4">
                                    <h4 class="card-title">Full Stack Developer & IT Security Officer</h4>
                                    <p class="card-text">Arthur Mansuy is a Full Stack Developer, he is also specialized in IT Security.</p>
                                    <ul class="list-inline">
                                      <li class="list-inline-item">
                                        <a class="social-icons text-xs-center" target="blank" href="https://github.com/tutus06"><i class="fab fa-github"></i></a>
                                      </li>
                                      <li class="list-inline-item">
                                        <a class="social-icons text-xs-center" target="blank" href="https://www.facebook.com/mansuyarthur"><i class="fab fa-facebook"></i></a>
                                      </li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-xs-12 col-sm-6 col-md-4">
                <div class="image-flip" ontouchstart="this.classList.toggle('hover');">
                    <div class="mainflip">
                        <div class="frontside">
                            <div class="card">
                                <div class="card-body text-center">
                                    <p>
                                      <%= image_tag("team/thomas.jpg", alt: "Profile picture", class: "img-fluid") %></p>
                                    <h4 class="card-title">Thomas Charvet</h4>
                                    <p class="card-text">Full Stack Developer & API Developer</p>
                                    <a href="#" class="btn btn-primary btn-sm">More</a>
                                </div>
                            </div>
                        </div>
                        <div class="backside">
                            <div class="card">
                                <div class="card-body text-center mt-4">
                                    <h4 class="card-title">Full Stack Developer & API Developer</h4>
                                    <p class="card-text">Thomas Charvet is a Full Stack Developer and a famous API Developer. He is also specialized in Web Marketing and digital communication.</p>
                                    <ul class="list-inline">
                                      <li class="list-inline-item">
                                        <a class="social-icons text-xs-center" target="blank" href="https://github.com/TomacTh"><i class="fab fa-github"></i></a>
                                      </li>
                                      <li class="list-inline-item">
                                        <a class="social-icons text-xs-center" target="blank" href="https://www.facebook.com/thombankss"><i class="fab fa-facebook"></i></a>
                                      </li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-xs-12 col-sm-6 col-md-4">
                <div class="image-flip" ontouchstart="this.classList.toggle('hover');">
                    <div class="mainflip">
                        <div class="frontside">
                            <div class="card">
                                <div class="card-body text-center">
                                    <p>
                                      <%= image_tag("team/nat.jpg", alt: "Profile picture", class: "img-fluid") %></p>
                                    <h4 class="card-title">Nathaniel Debache</h4>
                                    <p class="card-text">Full Stack Developer & Head of Finance</p>
                                    <a href="#" class="btn btn-primary btn-sm">More</a>
                                </div>
                            </div>
                        </div>
                        <div class="backside">
                            <div class="card">
                                <div class="card-body text-center mt-4">
                                    <h4 class="card-title">Full Stack Developer & Head of Finance</h4>
                                    <p class="card-text">Nathaniel Debache is a Full Stack Developer and a Cryptocurrency advisor.</p>
                                    <ul class="list-inline">
                                      <li class="list-inline-item">
                                        <a class="social-icons text-xs-center" target="blank" href="https://www.linkedin.com/in/nathaniel-debache-06714159"><i class="fab fa-linkedin"></i></a>
                                        </li>
                                        <li class="list-inline-item">
                                        <a class="social-icons text-xs-center" target="blank" href="https://github.com/Natdenice"><i class="fab fa-github"></i></a>
                                        </li>
                                        <li class="list-inline-item">
                                        <a class="social-icons text-xs-center" target="blank" href="https://www.facebook.com/nathaniel.debache"><i class="fab fa-facebook"></i></a>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

<div class="container clearfix">

          <div class="clear"></div>

          <div class="heading-block center">
            <h4>Nos Partenaires</h4>
          </div>

          <ul class="clients-grid grid-6 nobottommargin clearfix">
            <li><a href="http://logofury.com/logo/enzo.html"><%= image_tag("clients/1.png", alt: "Clients") %></a></li>
            <li><a href="http://logofury.com"><%= image_tag("clients/2.png", alt: "Clients") %></a></li>
            <li><a href="http://logofaves.com/2014/03/grabbt/"><img src="clients/3.png" alt="Clients"></a></li>
            <li><a href="http://logofaves.com/2014/01/ladera-granola/"><img src="clients/4.png" alt="Clients"></a></li>
            <li><a href="http://logofaves.com/2014/02/hershel-farms/"><img src="clients/5.png" alt="Clients"></a></li>
            <li><a href="http://logofury.com/logo/food-fight-radio.html"><img src="clients/6.png" alt="Clients"></a></li>
            <li><a href="http://logofury.com"><img src="clients/7.png" alt="Clients"></a></li>
            <li><a href="http://logofury.com/logo/up-travel.html"><img src="images/clients/8.png" alt="Clients"></a></li>
            <li><a href="http://logofury.com/logo/caffi-bardi.html"><img src="clients/9.png" alt="Clients"></a></li>
            <li><a href="http://logofury.com/logo/bignix-design.html"><img src="clients/10.png" alt="Clients"></a></li>
            <li><a href="http://logofury.com/"><img src="clients/11.png" alt="Clients"></a></li>
            <li><a href="http://logofury.com/"><img src="clients/12.png" alt="Clients"></a></li>
          </ul>

        </div>

        <div class="section footer-stick">

          <h4 class="uppercase center">Témoignages de nos<span>Clients</span></h4>

          <div class="fslider testimonial testimonial-full" data-animation="fade" data-arrows="false">
            <div class="flexslider">
              <div class="slider-wrap">
                <div class="slide">
                  <div class="testi-image">
                    <a href="#"><img src="testimonials/3.jpg" alt="Customer Testimonails"></a>
                  </div>
                  <div class="testi-content">
                    <p>Similique fugit repellendus expedita excepturi iure perferendis provident quia eaque. Repellendus, vero numquam?</p>
                    <div class="testi-meta">
                      Steve Jobs
                      <span>Apple Inc.</span>
                    </div>
                  </div>
                </div>
                <div class="slide">
                  <div class="testi-image">
                    <a href="#"><img src="testimonials/2.jpg" alt="Customer Testimonails"></a>
                  </div>
                  <div class="testi-content">
                    <p>Natus voluptatum enim quod necessitatibus quis expedita harum provident eos obcaecati id culpa corporis molestias.</p>
                    <div class="testi-meta">
                      Collis Ta'eed
                      <span>Envato Inc.</span>
                    </div>
                  </div>
                </div>
                <div class="slide">
                  <div class="testi-image">
                    <a href="#"><img src="testimonials/1.jpg" alt="Customer Testimonails"></a>
                  </div>
                  <div class="testi-content">
                    <p>Incidunt deleniti blanditiis quas aperiam recusandae consequatur ullam quibusdam cum libero illo rerum!</p>
                    <div class="testi-meta">
                      John Doe
                      <span>XYZ Inc.</span>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>

        </div>

      </div>

</section><!-- #content end -->
