<% content_for :title do %>
  A Propos | BnB Manager
<% end %>

<section id="content" class="footer-section">

  <div class="content-wrap">

    <div class="container clearfix">

      <div class="col_one_third">

        <div class="heading-block fancy-title nobottomborder title-bottom-border">
          <h4>Why choose <span>Us</span>.</h4>
        </div>

        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quasi quidem minus id omnis, nam expedita, ea fuga commodi voluptas iusto, hic autem deleniti dolores explicabo labore enim repellat earum perspiciatis.</p>

      </div>

      <div class="col_one_third">

        <div class="heading-block fancy-title nobottomborder title-bottom-border">
          <h4>Our <span>Mission</span>.</h4>
        </div>

        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quasi quidem minus id omnis, nam expedita, ea fuga commodi voluptas iusto, hic autem deleniti dolores explicabo labore enim repellat earum perspiciatis.</p>

      </div>

      <div class="col_one_third col_last">

        <div class="heading-block fancy-title nobottomborder title-bottom-border">
          <h4>What we <span>Do</span>.</h4>
        </div>

        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quasi quidem minus id omnis, nam expedita, ea fuga commodi voluptas iusto, hic autem deleniti dolores explicabo labore enim repellat earum perspiciatis.</p>

      </div>

    </div>

    <!--TEAM MEMBER SECTION-->
    <section id="team" class="pb-5">
      <div class="container">
        <h1 class="section-title h1", style="color:#1ABC9C">Notre Equipe</h1>
        <div class="row justify-content-center">
          <div class="col-xs-12 col-sm-6 col-md-4">
            <div class="image-flip" ontouchstart="this.classList.toggle('hover');">
              <div class="mainflip">
                <div class="frontside">
                  <div class="card">
                    <div class="card-body text-center">
                      <p><%= image_tag("team/nikita.jpg", alt: "Profile picture", class: "img-fluid") %></p>
                      <h4 class="card-title">Nikita Vasilev</h4>
                      <p class="card-text">CTO & Full Stack Developer</p>
                      <a href="#" class="btn btn-primary btn-sm">More</a>
                    </div>
                  </div>
                </div>
                <div class="backside">
                  <div class="card">
                    <div class="card-body text-center mt-4">
                      <h4 class="card-title">CTO & Full Stack Developer</h4>
                      <p class="card-text">Nikita Vasilev is the Chief Technical Officer and a full stack developer, specialist of Ruby on Rails framework, Javascript and back-end management.</p>
                      <ul class="list-inline">
                        <li class="list-inline-item">
                          <a class="social-icons text-xs-center" target="blank" href="https://www.linkedin.com/in/nikita-vasilev-2b0112111/"><i class="fab fa-linkedin"></i></a>
                        </li>
                        <li class="list-inline-item">
                          <a class="social-icons text-xs-center" target="blank" href="https://github.com/nikitavasilev"><i class="fab fa-github"></i></a>
                        </li>
                        <li class="list-inline-item">
                          <a class="social-icons text-xs-center" target="blank" href="https://www.facebook.com/nikita.vassilev?ref=br_rs"><i class="fab fa-facebook"></i></a>
                        </li>
                      </ul>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="col-xs-12 col-sm-6 col-md-4">
            <div class="image-flip" ontouchstart="this.classList.toggle('hover');">
              <div class="mainflip">
                <div class="frontside">
                  <div class="card">
                    <div class="card-body text-center">
                      <p><%= image_tag("team/ysa.jpg", alt: "Profile picture", class: "img-fluid") %></p>
                      <h4 class="card-title">Ysaline Macé</h4>
                      <p class="card-text">Back-end Developer & Journalist</p>
                      <a href="#" class="btn btn-primary btn-sm">More</a>
                    </div>
                  </div>
                </div>
                <div class="backside">
                  <div class="card">
                    <div class="card-body text-center mt-4">
                      <h4 class="card-title">Back-end Developer & Journalist</h4>
                      <p class="card-text">Ysaline Macé is a Back-end Developer and also a famous young journalist.</p>
                      <ul class="list-inline">
                        <li class="list-inline-item">
                          <a class="social-icons text-xs-center" target="blank" href="https://github.com/Ysalien"><i class="fab fa-github"></i></a>
                        </li>
                        <li class="list-inline-item">
                          <a class="social-icons text-xs-center" target="blank" href="https://www.facebook.com/ysaline.wizzy"><i class="fab fa-facebook"></i></a>
                        </li>
                      </ul>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="col-xs-12 col-sm-6 col-md-4">
            <div class="image-flip" ontouchstart="this.classList.toggle('hover');">
              <div class="mainflip">
                <div class="frontside">
                  <div class="card">
                    <div class="card-body text-center">
                      <p><%= image_tag("team/arthur.jpg", alt: "Profile picture", class: "img-fluid") %></p>
                      <h4 class="card-title">Arthur Mansuy</h4>
                      <p class="card-text">Full Stack Developer & IT Security Officer</p>
                      <a href="#" class="btn btn-primary btn-sm">More</a>
                    </div>
                  </div>
                </div>
                <div class="backside">
                  <div class="card">
                    <div class="card-body text-center mt-4">
                      <h4 class="card-title">Full Stack Developer & IT Security Officer</h4>
                      <p class="card-text">Arthur Mansuy is a Full Stack Developer, he is also specialized in IT Security.</p>
                      <ul class="list-inline">
                        <li class="list-inline-item">
                          <a class="social-icons text-xs-center" target="blank" href="https://github.com/tutus06"><i class="fab fa-github"></i></a>
                        </li>
                        <li class="list-inline-item">
                          <a class="social-icons text-xs-center" target="blank" href="https://www.facebook.com/mansuyarthur"><i class="fab fa-facebook"></i></a>
                        </li>
                      </ul>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="col-xs-12 col-sm-6 col-md-4">
            <div class="image-flip" ontouchstart="this.classList.toggle('hover');">
              <div class="mainflip">
                <div class="frontside">
                  <div class="card">
                    <div class="card-body text-center">
                      <p><%= image_tag("team/thomas.jpg", alt: "Profile picture", class: "img-fluid") %></p>
                      <h4 class="card-title">Thomas Charvet</h4>
                      <p class="card-text">Full Stack Developer & API Developer</p>
                      <a href="#" class="btn btn-primary btn-sm">More</a>
                    </div>
                  </div>
                </div>
                <div class="backside">
                  <div class="card">
                    <div class="card-body text-center mt-4">
                      <h4 class="card-title">Full Stack Developer & API Developer</h4>
                      <p class="card-text">Thomas Charvet is a Full Stack Developer and a famous API Developer. He is also specialized in Web Marketing and digital communication.</p>
                      <ul class="list-inline">
                        <li class="list-inline-item">
                          <a class="social-icons text-xs-center" target="blank" href="https://github.com/TomacTh"><i class="fab fa-github"></i></a>
                        </li>
                        <li class="list-inline-item">
                          <a class="social-icons text-xs-center" target="blank" href="https://www.facebook.com/thombankss"><i class="fab fa-facebook"></i></a>
                        </li>
                      </ul>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="col-xs-12 col-sm-6 col-md-4">
            <div class="image-flip" ontouchstart="this.classList.toggle('hover');">
              <div class="mainflip">
                <div class="frontside">
                  <div class="card">
                    <div class="card-body text-center">
                      <p><%= image_tag("team/nat.jpg", alt: "Profile picture", class: "img-fluid") %></p>
                      <h4 class="card-title">Nathaniel Debache</h4>
                      <p class="card-text">Full Stack Developer & Head of Finance</p>
                      <a href="#" class="btn btn-primary btn-sm">More</a>
                    </div>
                  </div>
                </div>
                <div class="backside">
                  <div class="card">
                    <div class="card-body text-center mt-4">
                      <h4 class="card-title">Full Stack Developer & Head of Finance</h4>
                      <p class="card-text">Nathaniel Debache is a Full Stack Developer and a Cryptocurrency advisor.</p>
                      <ul class="list-inline">
                        <li class="list-inline-item">
                          <a class="social-icons text-xs-center" target="blank" href="https://www.linkedin.com/in/nathaniel-debache-06714159"><i class="fab fa-linkedin"></i></a>
                        </li>
                        <li class="list-inline-item">
                          <a class="social-icons text-xs-center" target="blank" href="https://github.com/Natdenice"><i class="fab fa-github"></i></a>
                        </li>
                        <li class="list-inline-item">
                          <a class="social-icons text-xs-center" target="blank" href="https://www.facebook.com/nathaniel.debache"><i class="fab fa-facebook"></i></a>
                        </li>
                      </ul>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section><!--END OF TEAM MEMBER SECTION-->

    <div class="container clearfix">

      <div class="clear"></div>

      <div class="heading-block center">
        <h4>Nos Partenaires</h4>
      </div>

      <ul class="clients-grid grid-6 nobottommargin clearfix">
        <li><a href="http://logofury.com/logo/enzo.html"><%= image_tag("clients/1.png", alt: "Clients") %></a></li>
        <li><a href="http://logofury.com"><%= image_tag("clients/2.png", alt: "Clients") %></a></li>
        <li><a href="http://logofaves.com/2014/03/grabbt/"><%= image_tag("clients/3.png", alt: "Clients") %></a></li>
        <li><a href="http://logofaves.com/2014/01/ladera-granola/"><%= image_tag("clients/4.png", alt: "Clients") %></a></li>
        <li><a href="http://logofaves.com/2014/02/hershel-farms/"><%= image_tag("clients/5.png", alt: "Clients") %></a></li>
        <li><a href="http://logofury.com/logo/food-fight-radio.html"><%= image_tag("clients/6.png", alt: "Clients") %></a></li>
        <li><a href="http://logofury.com"><%= image_tag("clients/7.png", alt: "Clients") %></a></li>
        <li><a href="http://logofury.com/logo/up-travel.html"><%= image_tag("clients/8.png", alt: "Clients") %></a></li>
        <li><a href="http://logofury.com/logo/caffi-bardi.html"><%= image_tag("clients/9.png", alt: "Clients") %></a></li>
        <li><a href="http://logofury.com/logo/bignix-design.html"><%= image_tag("clients/10.png", alt: "Clients") %></a></li>
        <li><a href="http://logofury.com/"><%= image_tag("clients/11.png", alt: "Clients") %></a></li>
        <li><a href="http://logofury.com/"><%= image_tag("clients/12.png", alt: "Clients") %></a></li>
      </ul>

    </div>

  </div>
</section>