<% content_for :title do %>
  A Propos | BnB Manager
<% end %>

<section id="content" class="footer-section">

  <div class="content-wrap">

    <div class="container clearfix">
      <h1 class="heading-block center title-page">À propos</h1> 

      <div class="col_one_third">

        <div class="heading-block fancy-title nobottomborder title-bottom-border">
          <h4>Pourquoi nous <span style="color: #00d1b2">Choisir</span>.</h4>
        </div>

        <p class="justify-content-center">La gestion d'une location AirBnB ou d'une location saisonnière requiert beaucoup de temps et d'organisation. Confier votre bien à BnB Manager vous permettra non seulement d'optimiser vos revenus locatifs mais également de vous libérer de toutes les problématiques liées à la gestion d'une location Airbnb. Vous ne vous occupez de rien, BnB Manager s'occupe de tout !</p>

      </div>

      <div class="col_one_third">

        <div class="heading-block fancy-title nobottomborder title-bottom-border">
          <h4>Notre <span style="color: #00d1b2">Mission</span>.</h4>
        </div>

        <p class="justify-content-center">Notre mission est de vous satisfaire pleinement en gérant de A à Z votre location Airbnb. Vous gagnez du temps et de la tranquillité d'esprit en nous faisant confiance. Notre équipe polyvalente et bilingue, notre sérieux et notre savoir-faire feront de votre location un souvenir exceptionnel pour vos hôtes ! Enfin, vous suivez en toute transparence l'activité de votre logement via notre interface utilisateur complète.</p>

      </div>

      <div class="col_one_third col_last">

        <div class="heading-block fancy-title nobottomborder title-bottom-border" >
          <h4>Ce que nous <span style="color: #00d1b2">Faisons</span>.</h4>
        </div>

        <p class="justify-content-center">BnB Manager vous propose des offres sur-mesure mais également des packs clés en main. Concrétement, nous nous occupons principalement de rédiger et mettre en valeur votre annonce Airbnb, réaliser le check-in et le check-out de vos invités, nettoyer intégralement votre appartement entre chaque location, encaisser les recettes locatives et vous les reverser directement, mais également fournir un accueil personnalisé à vos hôtes durant l'intégralité de leurs séjours.</p>

      </div>

    </div>

    <!--TEAM MEMBER SECTION-->
    <section id="team" class="pb-5">
      <div class="container">
        <h3 class="heading-block center team-title">Notre Equipe</h3>
        <div class="row justify-content-center">
          <div class="col-xs-12 col-sm-6 col-md-4">
            <div class="image-flip" ontouchstart="this.classList.toggle('hover');">
              <div class="mainflip">
                <div class="frontside">
                  <div class="card">
                    <div class="card-body text-center">
                      <p><%= image_tag("team/nikita.jpg", alt: "Profile picture", class: "img-fluid") %></p>
                      <h4 class="card-title">Nikita Vasilev</h4>
                      <p class="card-text">Directeur technique & Développeur Full-stack</p>
                      <a href="#" class="btn btn-primary btn-sm">En savoir plus</a>
                    </div>
                  </div>
                </div>
                <div class="backside">
                  <div class="card">
                    <div class="card-body text-center mt-4">
                      <h4 class="card-title">Directeur technique & Développeur Full-stack</h4>
                      <p class="card-text">Nikita est Directeur technique en plus d'être développeur Full-stack. Trilingue et polyvalent, il est spécialisé en framework Ruby on Rails, et maitrise Javascript et MySQL.</p>
                      <ul class="list-inline">
                        <li class="list-inline-item">
                          <a class="social-icons text-xs-center" target="blank" href="https://www.linkedin.com/in/nikita-vasilev-2b0112111/"><i class="fab fa-linkedin"></i></a>
                        </li>
                        <li class="list-inline-item">
                          <a class="social-icons text-xs-center" target="blank" href="https://github.com/nikitavasilev"><i class="fab fa-github"></i></a>
                        </li>
                        <li class="list-inline-item">
                          <a class="social-icons text-xs-center" target="blank" href="https://www.facebook.com/nikita.vassilev?ref=br_rs"><i class="fab fa-facebook"></i></a>
                        </li>
                      </ul>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="col-xs-12 col-sm-6 col-md-4">
            <div class="image-flip" ontouchstart="this.classList.toggle('hover');">
              <div class="mainflip">
                <div class="frontside">
                  <div class="card">
                    <div class="card-body text-center">
                      <p><%= image_tag("team/ysa.jpg", alt: "Profile picture", class: "img-fluid") %></p>
                      <h4 class="card-title">Ysaline Macé</h4>
                      <p class="card-text">Développeur Back-end & Journaliste</p>
                      <a href="#" class="btn btn-primary btn-sm">En savoir plus</a>
                    </div>
                  </div>
                </div>
                <div class="backside">
                  <div class="card">
                    <div class="card-body text-center mt-4">
                      <h4 class="card-title">Développeur Back-end & Journaliste</h4>
                      <p class="card-text">Ysaline Macé est Developpeur Back-end mais également une jeune journaliste talentueuse. Originaire de l'île de la Réunion, Ysaline est bilingue et polyvalente.</p>
                      <ul class="list-inline">
                        <li class="list-inline-item">
                          <a class="social-icons text-xs-center" target="blank" href="https://github.com/Ysalien"><i class="fab fa-github"></i></a>
                        </li>
                        <li class="list-inline-item">
                          <a class="social-icons text-xs-center" target="blank" href="https://www.facebook.com/ysaline.wizzy"><i class="fab fa-facebook"></i></a>
                        </li>
                      </ul>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="col-xs-12 col-sm-6 col-md-4">
            <div class="image-flip" ontouchstart="this.classList.toggle('hover');">
              <div class="mainflip">
                <div class="frontside">
                  <div class="card">
                    <div class="card-body text-center">
                      <p><%= image_tag("team/arthur.jpg", alt: "Profile picture", class: "img-fluid") %></p>
                      <h4 class="card-title">Arthur Mansuy</h4>
                      <p class="card-text">Développeur Full-stack</p>
                      <a href="#" class="btn btn-primary btn-sm">En savoir plus</a>
                    </div>
                  </div>
                </div>
                <div class="backside">
                  <div class="card">
                    <div class="card-body text-center mt-4">
                      <h4 class="card-title">Développeur Full-stack</h4>
                      <p class="card-text">Arthur est développeur Full-stack et responsable de la sécurité informatique. Bilingue, il apprécie tout particulièrement le framework Ruby on Rails et Javascript.</p>
                      <ul class="list-inline">
                        <li class="list-inline-item">
                          <a class="social-icons text-xs-center" target="blank" href="https://github.com/tutus06"><i class="fab fa-github"></i></a>
                        </li>
                        <li class="list-inline-item">
                          <a class="social-icons text-xs-center" target="blank" href="https://www.facebook.com/mansuyarthur"><i class="fab fa-facebook"></i></a>
                        </li>
                      </ul>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="col-xs-12 col-sm-6 col-md-4">
            <div class="image-flip" ontouchstart="this.classList.toggle('hover');">
              <div class="mainflip">
                <div class="frontside">
                  <div class="card">
                    <div class="card-body text-center">
                      <p><%= image_tag("team/thomas.jpg", alt: "Profile picture", class: "img-fluid") %></p>
                      <h4 class="card-title">Thomas Charvet</h4>
                      <p class="card-text">Developpeur Full-stack & Développeur API</p>
                      <a href="#" class="btn btn-primary btn-sm">En savoir plus</a>
                    </div>
                  </div>
                </div>
                <div class="backside">
                  <div class="card">
                    <div class="card-body text-center mt-4">
                      <h4 class="card-title">Developpeur Full-stack & Développeur API</h4>
                      <p class="card-text">Thomas est Développeur Full-stack et responsable du développement API. Bilingue et polyvalent, il est également chargé de la communication de l'Entreprise.</p>
                      <ul class="list-inline">
                        <li class="list-inline-item">
                          <a class="social-icons text-xs-center" target="blank" href="https://github.com/TomacTh"><i class="fab fa-github"></i></a>
                        </li>
                        <li class="list-inline-item">
                          <a class="social-icons text-xs-center" target="blank" href="https://www.facebook.com/thombankss"><i class="fab fa-facebook"></i></a>
                        </li>
                      </ul>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="col-xs-12 col-sm-6 col-md-4">
            <div class="image-flip" ontouchstart="this.classList.toggle('hover');">
              <div class="mainflip">
                <div class="frontside">
                  <div class="card">
                    <div class="card-body text-center">
                      <p><%= image_tag("team/nat.jpg", alt: "Profile picture", class: "img-fluid") %></p>
                      <h4 class="card-title">Nathaniel Debache</h4>
                      <p class="card-text">Développeur Full-stack & Directeur Financier</p>
                      <a href="#" class="btn btn-primary btn-sm">En savoir plus</a>
                    </div>
                  </div>
                </div>
                <div class="backside">
                  <div class="card">
                    <div class="card-body text-center mt-4">
                      <h4 class="card-title">Développeur Full-stack & Directeur Financier</h4>
                      <p class="card-text">Nathaniel est développeur Full-stack et Directeur financier au sein de l'équipe. Bilingue et polyvalent, il est passionné par la Finance et la technologie Blockchain.</p>
                      <ul class="list-inline">
                        <li class="list-inline-item">
                          <a class="social-icons text-xs-center" target="blank" href="https://www.linkedin.com/in/nathaniel-debache-06714159"><i class="fab fa-linkedin"></i></a>
                        </li>
                        <li class="list-inline-item">
                          <a class="social-icons text-xs-center" target="blank" href="https://github.com/Natdenice"><i class="fab fa-github"></i></a>
                        </li>
                        <li class="list-inline-item">
                          <a class="social-icons text-xs-center" target="blank" href="https://www.facebook.com/nathaniel.debache"><i class="fab fa-facebook"></i></a>
                        </li>
                      </ul>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section><!--END OF TEAM MEMBER SECTION-->

    <div class="container clearfix">

      <div class="clear"></div>

      <h3 class="heading-block center partners-title">Nos Partenaires</h3>

      <ul class="clients-grid grid-6 nobottommargin clearfix center">
        <li><a href="https://nicematin.com"><%= image_tag("clients/1.png", alt: "Clients") %></a></li>
        <li><a href="https://forbes.com"><%= image_tag("clients/2.png", alt: "Clients") %></a></li>
        <li><a href="https://www.thehackingproject.org/"><%= image_tag("clients/5.png", alt: "Clients") %></a></li>
        <li><a href="https://www.airbnb.fr/"><%= image_tag("clients/4.png", alt: "Clients") %></a></li>
        <li><a href="https://www.lesechos.fr/"><%= image_tag("clients/3.png", alt: "Clients") %></a></li>
        <li><a href="https://www.challenges.fr/"><%= image_tag("clients/6.png", alt: "Clients") %></a></li>
      </ul>

    </div>

  </div>
</section>