<% content_for :title do %>
  Contact | BnB Manager
<% end %>

<section id="contact-page">
  <div class="container">
    <div class="row" style="margin-bottom: 35px;">
      <div class="col-lg-12 text-center">
        <h1 class="section-heading text-uppercase" style="margin-top: 25px;">Contactez-Nous</h2>
        <h3 class="section-subheading text-muted">Nous nous engageons à vous répondre sous 24 heures.</h3>
      </div>
    </div>

    <div class="row">
      <div class="col-lg-12">
        <%= form_for @contact, url: { action: 'create'} do |f| %>
          <div class="row">
            <div class="col-md-6">

              <div class="form-group">
                <%= f.text_field :name, class:"form-control", id:"name", placeholder:"Votre nom et prénom" %>
                <p class="help-block text-danger"></p>
              </div>

              <div class="form-group">
                <%= f.email_field :email, class:"form-control", id:"email", placeholder:"Votre adresse email" %>
                <p class="help-block text-danger"></p>
              </div>

              <div class="form-group">
                <%= f.telephone_field :phone_number, class:"form-control", id:"email", placeholder:"Votre numéro de téléphone" %>
                <p class="help-block text-danger"></p>
              </div>
            </div>

            <div class="col-md-6">
              <div class="form-group">
                <%= f.text_area :body, class:"form-control", id:"message", placeholder:"Votre message" %>
                <p class="help-block text-danger"></p>
              </div>
            </div>
            <div class="clearfix"></div>

            <div class="col-lg-12 text-center">
              <div id="success"></div>
              <%= f.submit 'Envoyer', id:"sendMessageButton", class:"btn btn-primary btn-xl" %>
            </div>

          </div>
        <%end%>
      </div>
    </div>
  </div>
</section>
