<% content_for :title do %>
  BnB Manager | La conciergerie Airbnb complète et sur-mesure
<% end %>

<section id="slider" class="slider-element slider-parallax" style="background: url('/assets/landing/home.jpg') no-repeat; background-size: cover" data-height-xl="700" data-height-lg="600" data-height-md="400" data-height-sm="300" data-height-xs="250">
  <div class="slider-parallax-inner">

    <div class="container clearfix">
      <div class="vertical-middle dark center">

        <div class="heading-block nobottommargin center">
          <h1>
            <span class="text-rotater nocolor" data-separator="|" data-rotate="flipInX" data-speed="3500">
              Grâce à BnB Manager <span class="t-rotate">Gagnez de l'argent|Partez l'esprit tranquille|Economisez</span>
            </span>
          </h1>
          <span class="d-none d-md-block">On paye votre <strong>loyer</strong> pendant vos absences</span>
        </div>
        <a href="users/sign_up" class="button button-border button-light button-rounded button-reveal tright button-large topmargin d-none d-md-inline-block"><i class="icon-angle-right"></i><span>Estimer mes revenus</span></a>

      </div>
    </div>
  </div>
</section>

<section id="main-heading">

  <div class="content-wrap">

    <div class="container clearfix">

      <div class="col_full text-center">
        <h1>Votre appartement est unique, nous en prenons soin.</h1>
        <p>Chez BnB Manager, nous gérons des biens uniques au coeur des villes, 
        pour nos clients propriétaires : création et gestion d’annonce sur Airbnb, 
        Booking... photos professionnelles, yield management, services de conciergerie 
        haut de gamme (ménage, linge, et maintenance).</p>
      </div>

    </div>

  </div>

</section>

<section id="clients">

  <div class="section">

    <div id="oc-clients-full" class="owl-carousel owl-carousel-full image-carousel carousel-widget" data-margin="150" data-nav="true" data-pagi="false" data-autoplay="5000" data-items-xs="3" data-items-sm="3" data-items-md="5" data-items-lg="6" data-items-xl="7">

      <div class="oc-item"><a href="#"><%= image_tag 'clients/airbnb.png', alt: 'Clients' %></a></div>
      <div class="oc-item"><a href="#"><%= image_tag 'clients/booking.png', alt: 'Clients' %></a></div>
      <div class="oc-item"><a href="#"><%= image_tag 'clients/housetrip.png', alt: 'Clients' %></a></div>
      <div class="oc-item"><a href="#"><%= image_tag 'clients/homeaway.png', alt: 'Clients' %></a></div>
      <div class="oc-item"><a href="#"><%= image_tag 'clients/tripadvisor.png', alt: 'Clients' %></a></div>
      <div class="oc-item"><a href="#"><%= image_tag 'clients/holidaylettings.png', alt: 'Clients' %></a></div>
      <div class="oc-item"><a href="#"><%= image_tag 'clients/thp.png', alt: 'Clients' %></a></div>
      <div class="oc-item"><a href="#"><%= image_tag 'clients/airbnb.png', alt: 'Clients' %></a></div>
      <div class="oc-item"><a href="#"><%= image_tag 'clients/booking.png', alt: 'Clients' %></a></div>
      <div class="oc-item"><a href="#"><%= image_tag 'clients/housetrip.png', alt: 'Clients' %></a></div>
      <div class="oc-item"><a href="#"><%= image_tag 'clients/homeaway.png', alt: 'Clients' %></a></div>
      <div class="oc-item"><a href="#"><%= image_tag 'clients/tripadvisor.png', alt: 'Clients' %></a></div>
      <div class="oc-item"><a href="#"><%= image_tag 'clients/holidaylettings.png', alt: 'Clients' %></a></div>
      <div class="oc-item"><a href="#"><%= image_tag 'clients/thp.png', alt: 'Clients' %></a></div>

    </div>

  </div>

</section>

<section id="content">

  <div class="content-wrap">

    <div class="container clearfix">

      <div class="col_one_third">
        <div class="feature-box fbox-plain">
          <div class="fbox-icon">
            <a href="#"><i class="icon-realestate-my-house"></i></a>
          </div>
          <h3 class="t400">Hassle Free</h3>
          <p>Canvas provides support for Native HTML5 Videos that can be added to a Full Width Background.</p>
        </div>
      </div>

      <div class="col_one_third">
        <div class="feature-box fbox-plain">
          <div class="fbox-icon">
            <a href="#"><i class="icon-realestate-hammer"></i></a>
          </div>
          <h3 class="t400">Well Constructed</h3>
          <p>Display your Content attractively using Parallax Sections that have unlimited customizable areas.</p>
        </div>
      </div>

      <div class="col_one_third col_last">
        <div class="feature-box fbox-plain">
          <div class="fbox-icon">
            <a href="#"><i class="icon-realestate-garage"></i></a>
          </div>
          <h3 class="t400">Free Utilites</h3>
          <p>You have complete easy control on each &amp; every element that provides endless customization possibilities.</p>
        </div>
      </div>

      <div class="clear"></div>

      <div class="col_one_third">
        <div class="feature-box fbox-plain">
          <div class="fbox-icon">
            <a href="#"><i class="icon-realestate-rent"></i></a>
          </div>
          <h3 class="t400">Flexible Rentals</h3>
          <p>Canvas provides support for Native HTML5 Videos that can be added to a Full Width Background.</p>
        </div>
      </div>

      <div class="col_one_third">
        <div class="feature-box fbox-plain">
          <div class="fbox-icon">
            <a href="#"><i class="icon-realestate-credit"></i></a>
          </div>
          <h3 class="t400">Easy Financing</h3>
          <p>Display your Content attractively using Parallax Sections that have unlimited customizable areas.</p>
        </div>
      </div>

      <div class="col_one_third col_last">
        <div class="feature-box fbox-plain">
          <div class="fbox-icon">
            <a href="#"><i class="icon-realestate-doc"></i></a>
          </div>
          <h3 class="t400">Solid Paperwork</h3>
          <p>You have complete easy control on each &amp; every element that provides endless customization possibilities.</p>
        </div>
      </div>

    </div>

  </div>

</section>


<!--

<section id="slider" class="slider-element force-full-screen full-screen dark clearfix">

  <div class="force-full-screen full-screen">
    <div class="fslider" data-speed="3000" data-pause="7500" data-animation="fade" data-arrows="false" data-pagi="false" style="position: absolute; width: 100%; height: 100%; top: 0; left: 0; background-color: #333; z-index: 1;">
      <div class="flexslider" style="height: 100% !important;">
        <div class="slider-wrap" style="height: inherit;">
          <div class="slide" style="background: url('/assets/landing/6.jpg') center center; background-size: cover; height: 100% !important;"></div>
          <div class="slide" style="background: url('/assets/landing/7.jpg') center center; background-size: cover; height: 100% !important;"></div>
          <div class="slide" style="background: url('/assets/landing/8.jpg') center center; background-size: cover; height: 100% !important;"></div>
        </div>
      </div>
    </div>
    <div class="container clearfix">
      <div class="vertical-middle dark center">

        <div class="heading-block nobottommargin center">
          <h1>
            <span class="text-rotater nocolor" data-separator="|" data-rotate="flipInX" data-speed="3500">
              Canvas makes your Business <span class="t-rotate">Simple|Customizable|Flexible|Easy|Profitable</span>
            </span>
          </h1>
          <span class="d-none d-md-block">Learn how to grow your Awesome idea into a successful business.</span>
        </div>
        <a href="#" class="button button-border button-light button-rounded button-reveal tright button-large topmargin d-none d-md-inline-block"><i class="icon-angle-right"></i><span>Start Tour</span></a>
      </div>
    </div>
    <div class="video-wrap" style="position: absolute; top: 0; left: 0; height: 100%; z-index:1;">
      <div class="video-overlay real-estate-video-overlay" style="z-index: 1;"></div>
    </div>
  </div>

</section>

-->
