<% content_for :title do %>
  BnB Manager | La conciergerie Airbnb complète et sur-mesure
<% end %>

<section id="slider" class="slider-element slider-parallax" style="background: url('/assets/landing/home.jpg') no-repeat; background-size: cover" data-height-xl="700" data-height-lg="600" data-height-md="400" data-height-sm="300" data-height-xs="250">
  <div class="slider-parallax-inner">

    <div class="container clearfix">
      <div class="vertical-middle dark center">

        <div class="heading-block nobottommargin center">
          <h1>
            <span class="text-rotater nocolor" data-separator="|" data-rotate="flipInX" data-speed="3500">
              Grâce à BnB Manager <span class="t-rotate">Gagnez de l'argent|Partez l'esprit tranquille|Economisez</span>
            </span>
          </h1>
          <span class="d-none d-md-block">On paye votre <strong>loyer</strong> pendant vos absences</span>
        </div>
        <a href="users/sign_up" class="button button-border button-light button-rounded button-reveal tright button-large topmargin d-none d-md-inline-block"><i class="icon-angle-right"></i><span>Estimer mes revenus</span></a>

      </div>
    </div>
  </div>
</section>

<section id="main-heading">

  <div class="content-wrap">

    <div class="container clearfix">

      <div class="col_full text-center">
        <h1>Votre appartement est unique, nous en prenons soin.</h1>
        <p>Chez BnB Manager, nous gérons des biens uniques au coeur des villes, 
        pour nos clients propriétaires : création et gestion d’annonce sur Airbnb, 
        Booking... photos professionnelles, yield management, services de conciergerie 
        haut de gamme (ménage, linge, et maintenance).</p>
      </div>

    </div>

  </div>

</section>

<section id="clients">

  <div class="section">

    <div id="oc-clients-full" class="owl-carousel owl-carousel-full image-carousel carousel-widget" data-margin="150" data-nav="true" data-pagi="false" data-autoplay="5000" data-items-xs="3" data-items-sm="3" data-items-md="5" data-items-lg="6" data-items-xl="7">

      <div class="oc-item"><a href="#"><%= image_tag 'clients/airbnb.png', alt: 'Clients' %></a></div>
      <div class="oc-item"><a href="#"><%= image_tag 'clients/booking.png', alt: 'Clients' %></a></div>
      <div class="oc-item"><a href="#"><%= image_tag 'clients/housetrip.png', alt: 'Clients' %></a></div>
      <div class="oc-item"><a href="#"><%= image_tag 'clients/homeaway.png', alt: 'Clients' %></a></div>
      <div class="oc-item"><a href="#"><%= image_tag 'clients/tripadvisor.png', alt: 'Clients' %></a></div>
      <div class="oc-item"><a href="#"><%= image_tag 'clients/holidaylettings.png', alt: 'Clients' %></a></div>
      <div class="oc-item"><a href="#"><%= image_tag 'clients/thp.png', alt: 'Clients' %></a></div>
      <div class="oc-item"><a href="#"><%= image_tag 'clients/airbnb.png', alt: 'Clients' %></a></div>
      <div class="oc-item"><a href="#"><%= image_tag 'clients/booking.png', alt: 'Clients' %></a></div>
      <div class="oc-item"><a href="#"><%= image_tag 'clients/housetrip.png', alt: 'Clients' %></a></div>
      <div class="oc-item"><a href="#"><%= image_tag 'clients/homeaway.png', alt: 'Clients' %></a></div>
      <div class="oc-item"><a href="#"><%= image_tag 'clients/tripadvisor.png', alt: 'Clients' %></a></div>
      <div class="oc-item"><a href="#"><%= image_tag 'clients/holidaylettings.png', alt: 'Clients' %></a></div>
      <div class="oc-item"><a href="#"><%= image_tag 'clients/thp.png', alt: 'Clients' %></a></div>

    </div>

  </div>

</section>

<section id="content">

  <div class="content-wrap">

    <div class="container clearfix">

      <div class="col_one_third">
        <div class="feature-box fbox-plain">
          <div class="fbox-icon">
            <a href="#"><i class="fas fa-key"></i></a>
          </div>
          <h3 class="t400">Accueil de vos hôtes</h3>
          <p>Nos concierges sont toujours disponibles pour accueillir vos locataires, leur remettre les clés et leur transmettre d’éventuelles consignes que vous auriez précisées, en plus de pouvoir présenter le quartier et de conseiller de bonnes adresses.</p>
        </div>
      </div>

      <div class="col_one_third">
        <div class="feature-box fbox-plain">
          <div class="fbox-icon">
            <a href="#"><i class="fas fa-broom"></i></a>
          </div>
          <h3 class="t400">Un ménage professionnel</h3>
          <p>Nous faisons le ménage chez vous selon les standards hôteliers, pour que jamais vous ne receviez de plaintes de clients qui pointent du doigt l’état de leur location de courte durée au moment leur arrivée.</p>
        </div>
      </div>

      <div class="col_one_third col_last">
        <div class="feature-box fbox-plain">
          <div class="fbox-icon">
            <a href="#"><i class="fas fa-rocket"></i></a>
          </div>
          <h3 class="t400">Superhost</h3>
          <p>Nous travaillons activement à rendre vos locations de courte durée les plus attrayantes et satisfaisantes possible pour les locataires, ce qui signifie que vous avez la possibilité de devenir un Superhost chez Airbnb en un rien temps.</p>
        </div>
      </div>

      <div class="clear"></div>

      <div class="col_one_third">
        <div class="feature-box fbox-plain">
          <div class="fbox-icon">
            <a href="#"><i class="icon-realestate-rent"></i></a>
          </div>
          <h3 class="t400">Une annonce cinq étoiles</h3>
          <p>Nous pouvons réaliser votre annonce sur Airbnb avec des photos professionnelles optimisées, afin de présenter votre bien immobilier sous son meilleur jour.</p>
        </div>
      </div>

      <div class="col_one_third">
        <div class="feature-box fbox-plain">
          <div class="fbox-icon">
            <a href="#"><i class="icon-realestate-credit"></i></a>
          </div>
          <h3 class="t400">20% TTC sur vos locations seulement !</h3>
          <p>Sans engagement. Sans frais d'avance. Frais de ménage payés en supplément par les locataires</p>
        </div>
      </div>

      <div class="col_one_third col_last">
        <div class="feature-box fbox-plain">
          <div class="fbox-icon">
            <a href="#"><i class="icon-realestate-doc"></i></a>
          </div>
          <h3 class="t400">Gestion de vos locations</h3>
          <p>BnB Manager vous prévient à chaque location. Nous n'avons aucune durée minimale d'engagement - les clients heureux restent d'eux-mêmes.</p>
        </div>
      </div>

    </div>

  </div>

</section>

<section id="promo" style="padding-top: 0;">

  <div class="content-wrap">

    <div class="container clearfix">

      <div class="promo promo-border bottommargin">
        <h3>Prêt à voyager en faisant des <span>économies</span> ? Confiez-nous votre <span>logement</span> !</h3>
        <span>Profitez de l’efficacité de notre équipe dédiée à la satisfaction des voyageurs</span>
        <a href="/users/sign_up" class="button button-xlarge button-rounded">Commencer</a>
      </div>

    </div>

  </div>

</section>
