<% content_for :title do %>
  Inscription | BnB Manager
<% end %>

<div class="card divcenter mt-4" style="max-width: 540px;">
  <div class="card-header py-3 center">
    <h2 class="mb-0 t400 text-center center">Inscription</h2>
  </div>

  <div class="card-body divcenter py-5" style="max-width: 70%;">
    <%= form_for(resource, as: resource_name, url: registration_path(resource_name), html: { class: 'nobottommargin row' }) do |f| %>
      <%= devise_error_messages! %>

      <div class="col-12">
        <%= f.label :prénom %><br />
        <%= f.text_field :first_name, autofocus: true, class:"form-control not-dark" %>
      </div>

      <div class="col-12 mt-4">
        <%= f.label :nom %><br />
        <%= f.text_field :last_name, class:"form-control not-dark" %>
      </div>

      <div class="col-12 mt-4">
        <%= f.label :date_de_naissance %><br />
        <%= f.date_select :birthday, { order: [:day, :month, :year], prompt: { day: 'Jour', month: 'Mois', year: 'Année' }, start_year: Date.today.year - 18, end_year: Date.today.year - 100 }, { required: true } %>
      </div>

      <div class="col-12 mt-4">
        <%= f.label :téléphone %><br />
        <%= f.telephone_field :phone_number, class:"form-control not-dark" %>
      </div>

      <div class="col-12 mt-4">
        <%= f.label :email %><br />
        <%= f.email_field :email, autocomplete: "email", class:"form-control not-dark" %>
      </div>

      <div class="col-12 mt-4">
        <%= f.label :mot_de_passe %>
        <% if @minimum_password_length %>
        <em>(<%= @minimum_password_length %> caractères minimum)</em>
        <% end %><br />
        <%= f.password_field :password, autocomplete: "new-password", class:"form-control not-dark" %>
      </div>

      <div class="col-12 mt-4">
        <%= f.label :confirmation_de_mot_de_passe %><br />
        <%= f.password_field :password_confirmation, autocomplete: "new-password", class:"form-control not-dark" %>
      </div>

      <div class="col-12 mt-4">
        <%= f.submit "S'inscrire", class: "button btn-block nomargin" %>
      </div>
    <% end %>
  </div>

  <div class="card-footer py-4 center">
    <h3 class="t400 text-center center">Vous avez déjà un compte?</h3>
    <%= render "devise/shared/links" %>
  </div>

</div>
