<% @property.each do |property| %>
  <tr>
    <td><%= property.user.first_name %> <%= property.user.last_name %> - </td>
    <td><%= property.full_address %></td>
    <% if property.status == false %>
      <p style="color: red;">Bien non loué actuellement.</p>
    <% else %>
      <p style="color: green;">Ce bien est en location.</p>
    <% end %>
    <%= link_to 'Voir', property %><br>
  </tr>
  <% if property.images.attached? %>
    <%= image_tag(property.images.first) %>
  <% end %>
<% end %>

<%= link_to 'Ajouter un logement', new_property_path %>
