<% content_for :title do %>
Vos biens | BnB Manager
<% end %>

<section id="property-index-content">

  <div class="content-wrap" style="padding-bottom: 0!important;">

    <div class="container clearfix">
      <div class="fancy-title title-center">
        <h1>Vos biens</h1>
      </div>

      <div class='line'></div>

      <div class="row justify-content-center">
        <% @property.each do |property| %>

          <div class="col-lg-6 col-md-8">
              <% if property.images.attached? %>
                <%= image_tag(property.images.first) %>
              <% end %>
          </div>

          <div class="col-lg-auto col-md-8 margin-mobile">
            <ul class="iconlist">
              <h4>Détails du logement</h4>
              <% if current_user.is_admin? %>
                <li class="mb-2"><i class="icon-line2-check"></i><strong>Propriétaire : </strong><%= property.user.first_name %> <%= property.user.last_name %></li>
              <% end %>
              <% if property.status == true %>
                <li class="mb-2"><i class="icon-line2-check"></i><strong>Statut : </strong><span style="color: green">Location en cours</span></li>
              <% else %>
                <li class="mb-2"><i class="icon-line2-check"></i><strong>Statut : </strong><span style="color: red">Pas de location en cours</span></li>
              <% end %>
              <li class="mb-2"><i class="icon-line2-check"></i><strong>Superficie</strong> : <%= property.area %>m2</li>
              <li class="mb-2"><i class="icon-line2-check"></i><strong>Nombre de couchages</strong> : <%= property.sleeps %></li>
              <% if property.rooms == 1 %>
                <li class="mb-2"><i class="icon-line2-check"></i><strong>Type</strong> : <%= property.rooms %> pièce</li>
              <% else %>
                <li class="mb-2"><i class="icon-line2-check"></i><strong>Type</strong> : <%= property.rooms %> pièces</li>
              <% end %>
              <li class="mb-2"><i class="icon-line2-check"></i><strong>Adresse</strong> : <%= property.full_address %></li>
              <%= link_to property, :class => "button button-mini button-border button-rounded" do %>
                <i class="fas fa-eye"></i>Voir le bien
              <% end %>
              <%= link_to new_property_path, :class => 'button button-mini button-border button-rounded' do %>
              <i class="fas fa-home"></i>Ajouter un bien
            <% end %>
            </ul>
          </div>

          <div class='line'></div>

        <% end %>

      </div> <!-- End of row !-->

    </div> <!-- End of container clearfix !-->

  </div> <!-- End of wrap-content !-->

</section> <!-- End of property-index-content section
