<% content_for :title do %>
  Vos logement | BnB Manager
<% end %>

<h4>Logement :</h4>
<ul>
  <li>Superficie : <%= @property.area %>m2</li>
  <li>Nombre de couchage : <%= @property.sleeps %> couchages</li>
  <% if @property.rooms == 1 %>
    <li>Type : <%= @property.rooms %> pièce</li>
  <% else %>
    <li>Type : <%= @property.rooms %> pièces</li>
  <% end %>
</ul>

<h4>Adresse :</h4>
<ul>
  <% if @property.additional_content.present? %>  
    <li><%= @property.additional_content %></li>
  <% end %>
  <li><%= @property.street_number %>, <%= @property.route %></li>
  <li><%= @property.postal_code %>, <%= @property.locality %></li>
  <li><%= @property.administrative_area_level_1 %></li>
  <li><%= @property.country.upcase %></li>
</ul>

<%= link_to 'Editer', edit_property_path %>
<%= link_to 'Supprimer', @property, method: :delete, data: { confirm: 'Cette action est irréversible, en êtes-vous sûr ?' } %>
<%= link_to 'Retour', property_index_path %>
