<% content_for :title do %>
  Votre bien | BnB Manager
<% end %>

<section id="property-content">

  <div class="content-wrap" style="padding-bottom: 0!important;">

    <div class="container clearfix">
      <div class="fancy-title title-center">
        <h1>Votre bien</h1>
      </div>
      <div class='line'></div>

      <div class="row justify-content-center">
        <div class="col-lg-6 col-md-8">
          <% (0...@property.images.count).each_with_index do |image, index| %>
            <div id="carouselExampleIndicators" class="carousel slide" data-ride="carousel">
              <ol class="carousel-indicators">
                <li data-target="#carouselExampleIndicators" data-slide-to="0" class="active"></li>
                <% i = 1 %>
                <% while i < @property.images.count %>
                  <li data-target="#carouselExampleIndicators" data-slide-to="<%= i %>"></li>
                  <% i+= 1 %>
                <% end %>
              </ol>
              <div class="carousel-inner" role="listbox">
                <div class="carousel-item active">
                  <% if index == 0 %>
                    <%= image_tag(@property.images[image]) %>
                  <% end %>
                </div>
                <% j = 1 %>
                <% while j < @property.images.count %>
                  <div class="carousel-item">
                    <% if index == j %>
                      <%= image_tag(@property.images[image]) %>
                    <% end %>
                  </div>
                  <% j+= 1 %>
                <% end %>
              </div>
              <a class="carousel-control-prev" href="#carouselExampleIndicators" role="button" data-slide="prev">
                <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                <span class="sr-only">Previous</span>
              </a>
              <a class="carousel-control-next" href="#carouselExampleIndicators" role="button" data-slide="next">
                <span class="carousel-control-next-icon" aria-hidden="true"></span>
                <span class="sr-only">Next</span>
              </a>
            </div>
          <% end %>
        </div>

        <div class="col-lg-auto col-md-8 margin-mobile">
          <h4>Détails du logement</h4>
          <ul class="iconlist">
            <% if @property.status == true %>
              <li class="mb-2"><i class="icon-line2-check"></i><strong>Statut : </strong><span style="color: green;">Location en cours</span></li>
            <% else %>
              <li class="mb-2"><i class="icon-line2-check"></i><strong>Statut : </strong><span style="color: red;">Pas de location en cours</span></li>
            <% end %>
            <li class="mb-2"><i class="icon-line2-check"></i><strong>Superficie</strong> : <%= @property.area %>m2</li>
            <li class="mb-2"><i class="icon-line2-check"></i><strong>Nombre de couchages</strong> : <%= @property.sleeps %></li>
            <% if @property.rooms == 1 %>
              <li class="mb-2"><i class="icon-line2-check"></i><strong>Type</strong> : <%= @property.rooms %> pièce</li>
            <% else %>
              <li class="mb-2"><i class="icon-line2-check"></i><strong>Type</strong> <%= @property.rooms %> pièces</li>
            <% end %>
          </ul>
          <h4>Adresse du logement</h4>
          <ul class="adress-list">
            <% if @property.additional_content.present? %>
              <li><%= @property.additional_content %></li>
            <% end %>
              <li><%= @property.street_number %>, <%= @property.route %></li>
              <li><%= @property.postal_code %>, <%= @property.locality %></li>
              <li><%= @property.administrative_area_level_1 %></li>
              <li><%= @property.country.upcase %></li>
          </ul>
        </div>

      </div><!-- row end -->

      <div class="clear topmargin"></div>

      <div class="row justify-content-center">
        <div class="col-lg-6 col-md-8">

          <%= link_to property_index_path, :class => 'button button-mini button-border button-rounded' do %>
            <i class="icon-repeat"></i>Retour
          <% end %>

          <%= link_to edit_property_path, :class => 'button button-mini button-border button-rounded' do %>
            <i class="icon-lock3"></i>Editer
          <% end %>

          <%= link_to @property, method: :delete, data: { confirm: 'Cette action est irréversible, en êtes-vous sûr ?' }, :class => 'button button-mini button-border button-rounded button-red' do %>
            <i class="icon-trash2"></i>Supprimer
          <% end %>

        </div>
      </div>
      
      <div class='line'></div>

      <div class="row justify-content-center" style="margin-top: 20px;">
        <div class="col-lg-4 col-md-5">

          <% if @property.documents.attached? %>
            <%= link_to "Votre dernière facture", rails_blob_path(@property.documents.first, disposition: "attachment"), :class => 'button button-mini button-border button-rounded' %>
          <% end %>

        </div>
      </div>

    </div><!-- containter clearfix end -->

  </div><!-- .content-wrap end -->

</section><!-- #content end -->
