<%= @property.full_address %><br />
<%= @property.street_number %>
<%= @property.additional_content %>
<%= @property.route %>
<%= @property.locality %>
<%= @property.administrative_area_level_1 %>
<%= @property.country %>
<%= @property.postal_code %>

<a href="/property/<%= @property.id %>/edit">Editer</a>
<%= link_to 'Supprimer', property, method: :delete, data: { confirm: 'Cette action est irréversible, en êtes-vous sûr ?' } %>
<%= link_to 'Retour', property_index_path %>
