  <!-- Footer
    ============================================= -->
    <footer id="footer" class="dark">

      <div class="container">

        <!-- Footer Widgets
        ============================================= -->
        <div class="footer-widgets-wrap clearfix">

          <div class="col_one_third">

            <div class="widget clearfix" style="margin-top: -30px !important">

              <img src="images/footer-widget-logo.png" alt="" class="footer-logo">
              <h4>Nos engagements</h4>
              <br>
              <p class="engagements">Votre confiance mérite toute notre attention. C'est la raison pour laquelle BnB Manager s'engage à vous fournir des prestations de grande qualité, des tarifs compétitifs et des services Premium personnalisés.</p>

              <div style="background: url('images/world-map.png') no-repeat center center; background-size: 100%;">
                <address>
                  <strong>Siège Social :</strong><br>
                  1 Avenue Jean Médecin<br>
                  Nice, 06000<br>
                  France
                </address>
                <abbr title="Phone Number"><strong>Téléphone : </strong></abbr>04 93 00 00 01</br>
                <abbr title="Email Address"><strong>Email : </strong></abbr> bnbmanager.infos@gmail.com
              </div>

            </div>

          </div>

          <div class="col_one_third">

            <div class="widget clearfix">
              <h4>Témoignages de nos clients</h4>

              <div class="fslider testimonial no-image nobg noborder noshadow nopadding" data-animation="slide" data-arrows="false">
                <div class="flexslider">
                  <div class="slider-wrap">
                    <div class="slide">
                      <div class="testi-content">
                        <p>Confier mon appartement à BnB Manager a été la meilleure décision de ma vie. Gestion de l'annonce AirBnB, ménage, check-in et check-out : BnB Manager s'occupe de tout !</p>
                        <div class="testi-meta">
                          Louis Maccario
                          <span>Entrepreneur</span>
                        </div>
                      </div>
                    </div>
                    <div class="slide">
                      <div class="testi-content">
                        <p>BnB Manager s'occupe de ma maison à Villefranche-Sur-Mer depuis plusieurs mois et tout se déroule merveilleusement bien. J'ai choisi le Pack VIP Premium et mes locataires sont ravis !</p>
                        <div class="testi-meta">
                          Irina Matthews
                          <span>Architecte</span>
                        </div>
                      </div>
                    </div>
                    <div class="slide">
                      <div class="testi-image">
                        <a href="#"><img src="images/testimonials/1.jpg" alt="Customer Testimonails"></a>
                      </div>
                      <div class="testi-content">
                        <p>Je réside plus de 4 mois par an à Dubai et je n'avais pas le temps de gérer mes locations saisonnières. De par leur sérieux et leurs tarifs attractifs, BnB Manager a su m'apporter une sérénité absolue dans la gestion de mes appartements !</p>
                        <div class="testi-meta">
                          Carlos Matos
                          <span>Ingénieur d'affaires</span>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>

            </div>

            <div class="widget clearfix">

              <a href="#" class="social-icon si-small si-rounded si-facebook">
                <i class="icon-facebook"></i>
                <i class="icon-facebook"></i>
              </a>

              <a href="#" class="social-icon si-small si-rounded si-twitter">
                <i class="icon-twitter"></i>
                <i class="icon-twitter"></i>
              </a>

              <a href="#" class="social-icon si-small si-rounded si-github">
                <i class="icon-github"></i>
                <i class="icon-github"></i>
              </a>

              <a href="#" class="social-icon si-small si-rounded si-linkedin">
                <i class="icon-linkedin"></i>
                <i class="icon-linkedin"></i>
              </a>

            </div>

          </div>

          <div class="col_one_third col_last">

            <div class="widget quick-contact-widget clearfix">

              <h4>Nous contacter</h4>

              <div class="quick-contact-form-result"></div>
              <%= form_for @contact, url: { action: 'create'} do |f| %>

                <div class="form-process"></div>

                <div class="input-group divcenter">
                  <div class="input-group-prepend">
                        <div class="input-group-text"><i class="icon-user"></i></div>
                      </div>
                  <%= f.text_field :name, class:'required form-control input-block-level', id:'quick-contact-form-name', placeholder:'Votre nom et prénom' %>
                </div>

                <div class="input-group divcenter">
                  <div class="input-group-prepend">
                    <div class="input-group-text"><i class="icon-email2"></i></div>
                  </div>
                  <%= f.email_field :email, class:'required form-control email input-block-level', id:'quick-contact-form-email', placeholder:'Votre adresse email' %>
                </div>

                <%= f.text_area :body, class:'required form-control input-block-level short-textarea', id:'quick-contact-form-message', rows:"4", cols:"30", placeholder:'Votre message' %>

                <%= f.submit 'Envoyer', id:"quick-contact-form-submit", class:"btn nomargin" %>

              <%end%>
            </div>

          </div>

        </div><!-- .footer-widgets-wrap end -->

      </div>

      <!-- Copyrights
      ============================================= -->
      <div id="copyrights">

        <div class="container clearfix">

          <div class="col_half">
            Copyrights &copy; 2018 All Rights Reserved by BnB Manager
          </div>

          <div class="col_half col_last tright">
            <div class="fright clearfix">
              <div class="copyrights-menu copyright-links nobottommargin">
                <a href="/">Accueil</a>/<a href="/services">Services</a>/<a href="/prices">Tarifs</a>/<a href="/packs">Nos Packs</a>/<a href="/faq">FAQ</a>/<a href="/about">A Propos</a>/<a href="/contact">Contact</a>
              </div>
            </div>
          </div>

        </div>

      </div><!-- #copyrights end -->

    </footer><!-- #footer end -->
