<!DOCTYPE html>
<html dir="ltr" lang="en-US">
	<head>
		<title><%= yield :title %></title>
		<meta charset="utf-8">
		<meta http-equiv="content-type" content="text/html; charset=utf-8" />
		<meta name="author" content="SemiColonWeb" />
		<meta http-equiv="X-UA-Compatible" content="IE=edge">
		<%= csrf_meta_tags %>

		<!-- Stylesheets
		============================================= -->
		<link href="https://fonts.googleapis.com/css?family=Lato:300,400,400i,700|Raleway:300,400,500,600,700|Crete+Round:400i" rel="stylesheet" type="text/css" />
		<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.5.0/css/all.css" integrity="sha384-B4dIYHKNBt8Bc12p+WXckhzcICo0wtJAoU8YZTY5qE0Id1GSseTk6S+L3BlXeVIU" crossorigin="anonymous">	
		<%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
		<meta name="viewport" content="width=device-width, initial-scale=1" />
		<%= favicon_link_tag 'favicon.png' %>
	</head>

	<body class="stretched">

		<!-- Document Wrapper
		============================================= -->
		<div id="wrapper" class="clearfix">

			<%= render 'layouts/login_modal' %>
			<%= render 'layouts/header' %>

			<%= yield %>
      <p class="notice"><%= notice %></p>
      <p class="alert"><%= alert %></p>

			<%= render 'layouts/footer' %>

		</div><!-- #wrapper end -->
		<%= javascript_include_tag 'application' %>
	</body>
</html>